@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face {
  font-family:FIFA;
  src:url(fonts/a.ttf) format('ttf');
}
body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: white;
}
.BACKGROUNDLOGIN{
    background-image: url("../image/op2.jpg");
    background-size: cover;
    height:900px;
}
.PADDING0PXLOGIN{
    padding:0px;
}
.BACK{
    background-color:white;
    height:900px;
}
.fifavr{
    font-size:40pt;
    font-family:FIFA;
    color:rgb(71,125,172);
}
.TAGp{
    color:black;
    font-size: 12pt;
    margin-bottom: 20px;
}
.WIDTHbtn{
    width:100%;
    height:35px;
    margin-bottom: 5px;
}

.WIDTHbtn2{
    width:100%;
    height:35px;
    margin-bottom: 15px;
    background-color:midnightblue; 
    color:white;
} 
.MARGINKHLI{
    margin-bottom: 30px;
}
.MARGINKHLI:hover{
    cursor: pointer;
}
.MARGINKHL2{
    margin-bottom: 20px;
    font-size: 17pt;
}
.MARGINKHLI3{
    margin-bottom: 10px;
}
.TOPMANFI{
    margin-top: -30px;
}